<a href="https://colab.research.google.com/github/mapzacer-11/Machine-Learning-Journey/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Arithmetic Operators
print(7+9)
print(6-2)
print(3*3)
print(4/2)
print(5//2)

16
4
9
2.0
2

In [3]:
#Relational Operators
print(4>5)
print(4<5)
print(4>=5)
print(4<=5)
print(4==4)
print(4!=4)

False
True
False
True
True
False

In [4]:
#Logical Operators
print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

In [6]:
#Bitwise Operators

#bitwise and
print(2&3)

#bitwise or
print(2|3)

#bitwise xor
print(2^3)

#bitwise nor
print(~3)

#left shift
print(4>>2)

#right shift
print(5<<2)

2
3
1
-4
1
20

In [12]:
#Assignment Operators
#a=a+2
a=2
a+=2
print(a)

4

In [14]:
#Membership operators
#in/not in
print('A' in 'Adnan')
print('T'not in 'Tumkur')

True
False

In [18]:
#Program to sum the given three digits
number=int(input('Enter a 3 digit number'))

a=number%10

number=number//10

b=number%10

number=number//10

c=number%10

number=number//10
print(a+b+c)

Enter a 3 digit number777
21

In [24]:
#If else in python

email=input('enter email')
password=input('enter password')
if email=='hehehe.adv@gmail.com' and password=='123456':
    print('aapka swaagat hai')
elif  email == 'hehehe.adv@gmail.com' and password!='123456':
    print('password galat hai')
    password=input('password fir se bol')
    if password== '123456':
     print('chal aaja')
    else:
     print('Tumse na ho payega')
else:
    print('Chal Hatt')

enter emailhehehe.adv@gmail.com
enter password00000
password galat hai
password fir se bol2222
Tumse na ho payega

In [26]:
#min of 3 number

a=int(input('enter first number'))
b=int(input('enter second number'))
c=int(input('enter third number'))

if a<b and a<c:
    print('smallest is',a)
elif b<c:
    print('smallest is',b)
else:
    print('smallest is',c)

enter first number9
enter second number4
enter third number10
smallest is 4